.Контейнер {
  display: flex;
  height: 99vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.главныйБлок {
  border: 1px solid black;
  height: 360px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
}
.изотерика {
  color: blueviolet;
  order: 2;
  padding: 50px;
  font-size: 25px;
  border: 1px solid black;
  align-self: flex-start;
}

.верхнийБлок {
  order: 1;

  color: rgb(0, 8, 255);
  text-shadow: 0 0 2px #005eff;
  filter: progid:DXImageTransform.Microsoft.Glow(Color=#ff0404,Strength=6);
  padding: 50px;
  font-size: 25px;
  border: 1px solid black;
  flex-basis: 40%;
}

.погода {
  color: rgb(255, 255, 102);
  order: 3;
  padding: 50px;
  font-size: 25px;
  border: 1px solid black;
  align-self: flex-end;
  flex-basis: 40%;
}
.левинПравин {
  flex-basis: 60%;
}
body.day {
  background-image: url(images/original.jpg);
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
}
body.night {
  background-image: url(images/o5sgivhc2wgo0gkgog.jpg);
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
}
#neutral {
  background-color: beige;
  height: 100%;
  width: 100%;
  background-size: 100%;
  overflow: hidden;
}
